@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Fraunces", serif;
}

.upper-case {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Fraunces", serif;
}

.upper-case {
  text-transform: uppercase;
}

header {
  width: 100vw;
  font-size: 1.2rem;
  padding: 0 2rem;
  background-color: rgb(61, 192, 255);
  color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  width: 14rem;
}
header nav {
  padding: 1em;
}
header nav #nav-btn {
  display: none;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}
header nav a {
  padding: 0.5em 1em;
  border-radius: 20px;
  transition: 0.5s;
}
header nav a:hover:not(.contact-style) {
  background-color: hsla(0deg, 0%, 100%, 0.25);
}
header nav a.contact-style {
  font-size: 0.95em;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: hsl(212deg, 27%, 19%);
  background-color: hsl(0deg, 0%, 100%);
}
header nav a.contact-style:hover {
  background-color: hsla(0deg, 0%, 100%, 0.25);
  color: hsl(0deg, 0%, 100%);
}
@media (max-width: 700px) {
  header {
    height: 3.7rem;
  }
  header nav #nav-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: hsl(0deg, 0%, 100%);
    font-size: 1.5rem;
    cursor: pointer;
  }
  header nav #nav-menu {
    list-style: none;
    text-align: center;
    color: hsl(212deg, 27%, 19%);
    background-color: hsl(0deg, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 3.7rem;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
  }
  header nav #nav-menu.active {
    visibility: visible;
    overflow-y: auto;
    height: 16rem;
  }
  header nav #nav-menu a {
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 20px;
    transition: 0.5s;
    color: hsl(210deg, 4%, 67%);
  }
  header nav #nav-menu a:hover:not(.contact-style) {
    color: hsl(212deg, 27%, 19%);
  }
  header nav #nav-menu a.contact-style {
    font-size: 1rem;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: hsl(212deg, 27%, 19%);
    background-color: hsl(51deg, 100%, 49%);
  }
  header nav #nav-menu a.contact-style:hover {
    background-color: rgb(61, 192, 255);
    color: hsl(0deg, 0%, 100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Fraunces", serif;
}

.upper-case {
  text-transform: uppercase;
}

#home {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 3.7rem);
}
#home .home-bg {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.25em;
  margin: 100px 0;
}
#home img.arrow-down {
  width: 4%;
  animation: updown 0.3s linear infinite alternate;
}
#home #home-background {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  #home h1 {
    font-size: 2em;
  }
  #home .home-bg {
    background-image: url(../images/mobile/image-header.jpg);
  }
}

@keyframes updown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10%);
  }
}
.service-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  max-width: 100%;
  padding: 1em;
}
.service-card-description h2 {
  max-width: 75%;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}
.service-card-description p {
  color: hsl(232deg, 10%, 55%);
  font-weight: 500;
  max-width: 75%;
  line-height: 1.5em;
  text-align: left;
}
.service-card-description a.yellow {
  padding: 0.2em 0.5em;
  transition: 0.3s;
  border-bottom: 2px solid hsla(51deg, 100%, 49%, 0.5);
}
.service-card-description a.yellow:hover {
  background-color: hsla(51deg, 100%, 49%, 0.5);
  border-bottom: 2px solid hsl(51deg, 100%, 49%);
}
.service-card-description a.soft-red {
  padding: 0.2em 0.5em;
  transition: 0.3s;
  border-bottom: 2px solid hsla(7deg, 99%, 70%, 0.5);
}
.service-card-description a.soft-red:hover {
  background-color: hsla(7deg, 99%, 70%, 0.5);
  border-bottom: 2px solid hsl(7deg, 99%, 70%);
}

#services {
  display: grid;
  max-width: 100vw;
  height: 100vh;
  grid-template-areas: "description_1 img_1" "img_2 description_2";
}
#services .description_1 {
  grid-area: description_1;
}
#services .description_2 {
  grid-area: description_2;
}
#services .img_1 {
  grid-area: img_1;
  background-image: url(../images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#services .img_2 {
  grid-area: img_2;
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 700px) {
  #services {
    height: 200vh;
    grid-template-areas: "img_1" "description_1 " "img_2" "description_2";
  }
  #services .service-card-description {
    padding: 0;
    gap: 1.5em;
  }
  #services .img_1 {
    background-image: url(../images/mobile/image-transform.jpg);
  }
  #services .img_2 {
    background-image: url(../images/mobile/image-stand-out.jpg);
  }
}

#service-type {
  width: 100vw;
  height: 50vh;
  display: flex;
}
#service-type .s-type-card {
  text-align: center;
  max-width: 50%;
  padding: 1em 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
#service-type .s-type-card p {
  width: 75%;
}
#service-type .type-img_1 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#service-type .type-img_1 h3,
#service-type .type-img_1 p {
  color: hsl(167deg, 40%, 24%);
}
#service-type .type-img_2 {
  background-image: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#service-type .type-img_2 h3,
#service-type .type-img_2 p {
  color: hsl(198deg, 62%, 26%);
}
@media (max-width: 700px) {
  #service-type {
    flex-direction: column;
    height: 150vh;
  }
  #service-type .s-type-card {
    max-width: 100%;
    height: 50%;
    padding-bottom: 5em;
  }
  #service-type .type-img_1 {
    background-image: url(../images/mobile/image-graphic-design.jpg);
  }
  #service-type .type-img_2 {
    background-image: url(../images/mobile/image-photography.jpg);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Fraunces", serif;
}

.upper-case {
  text-transform: uppercase;
}

#testemonials {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 2rem;
  text-align: center;
}

#testemonials h3 {
  font-family: "Fraunces", serif;
  color: hsl(198deg, 62%, 26%);
  letter-spacing: 5px;
}

.clients,
.client {
  display: flex;
  flex-direction: column;
}

.clients {
  gap: 2rem;
  flex-direction: row;
}

.client {
  gap: 3.1rem;
}

.client img {
  border-radius: 50%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.feedback {
  font-family: "Barlow", sans-serif;
  color: hsl(198deg, 62%, 26%);
  line-height: 1.8rem;
  font-weight: 600;
}

.author-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 0.7rem;
  text-align: center;
  align-items: center;
}

.name {
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: 900;
}

.job {
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  color: hsl(210deg, 4%, 67%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Fraunces", serif;
}

.upper-case {
  text-transform: uppercase;
}

footer {
  background-color: #8ed0c4;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 1.2rem;
  min-height: 30vh;
  text-align: center;
  align-items: center;
}

footer ul {
  list-style: none;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 3.1rem;
}

.footer-menu a {
  color: hsl(168deg, 34%, 41%);
  font-family: "Barlow", sans-serif;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2.3rem;
}

/*# sourceMappingURL=styles.css.map */
