#home {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #home-background {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
